<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bay Face Inventory</title>

</head>

<style>

    .page    { display: none; padding: 0 0.5em; }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .arc {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border-top: 2px solid #0a3aff;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        animation: rt 2s infinite linear;
    }
    .arc::before {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border-top: 2px solid #ff0053;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        animation: rt 4s infinite linear reverse;
        content: "";
    }
    .arc::after {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-radius: 50%;
        border-top: initial;
        border-left: initial;
        border-right: initial;
        animation: cw 1s infinite;
        content: "";
        background: snow;
    }

    h1 {
        position: absolute;
        height: 40px;
        margin: auto;
        top: 200px;
        left: 0;
        right: 0;
        bottom: 0;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.1em;
        font-size: 14px;
        font-weight: lighter;
        color: white;
    }
    h1 span {
        display: none;
    }
    h1::after {
        animation: txt 5s infinite;
        content: "";
    }

    @keyframes rt {
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes cw {
        0% {
            width: 0;
            height: 0;
        }
        75% {
            width: 40px;
            height: 40px;
        }
        100% {
            width: 0;
            height: 0;
        }
    }
    @keyframes txt {
        0% {
            content: "LOADING.";
        }
        50% {
            content: "LOADING..";
        }
        100% {
            content: "LOADING...";
        }
    }

</style>

<body>

<div class="container" style="text-align: center;">

    <div class="arc"></div>
    <h1><span>LOADING</span></h1>

    <div class="page">

        <object id="bay-id" data="#" style="margin-right:3em; padding: 20px;width: 907px;height: 602px;"></object>

    </div>
</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>